.cache
Desktop
.dmrc
Documents
dotfiles
Downloads
.esd_auth
.fehbg
.gitconfig
.gtkrc-2.0
.icons
.local
.mozilla
Music
Pictures
Public
Templates
.thumbnails
Videos
.viminfo
.Xauthority
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zhistory
.zshrc
.bash_logout
.bash_profile
.config/pulse
.config/totem
.config/xfce4
.config/mimeapps.list
.config/Thunar
.config/kglobalshortcutsrc
.config/dconf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc
.config/htop
.config/Atom
.atom
.nv
.pki
.vim
.bashrc
.wget-hsts
discord
.gnupg
.config/neofetch
gconf
mpv
.config/nitrogen
.config/menus
.config/gedit
.config/google-chrome-beta
.config/gtk-2.0
.config/enchant
.gnome
.config/google-chrome
.config/transmission-remote-gtk
